.App {
  text-align: center;
}

.poke-container {
  background-color: aliceblue;
  display: flex;
  max-width: 250px;
  align-items: center;
  margin: 10px;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-decoration: none;
  color: black;
  opacity: 0.9;

}

.poke-info h4{
  text-decoration: none;
  
}
.poke-container:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: radial-gradient(rgb(232, 153, 153), rgb(255, 255, 255));
}